div.container{
	margin-left: auto;
    margin-right: auto;
}

div.rightAlign{
	margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
	background: white;
	text-align: center;
	box-shadow: inset 0px 0px 10px 0.1px #000111;
	border:0px solid;
	width:600px;
	height:700px;
}


h1,h2{
	text-align: center;
	text-shadow: 1px 1px 2px #000000;

}

canvas.center{
	display:inline;
}

div.upperHeader{
	width:340px;
	height:75px;
	box-shadow: inset 0px 0px 10px 0.1px #000111;
	margin-bottom: 25px;
	padding-top: 10px;
	padding-bottom: 50px;
}